<h2 class="content-block">Dropdown Box</h2>

<div class="content-block dx-card responsive-paddings">
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">DropDownBox</div>
      <div class="dx-field-value">
        <dx-drop-down-box
          [(value)]="treeBoxValue"
          [inputAttr]="{ 'aria-label': 'Owner' }"
          valueExpr="ID"
          displayExpr="name"
          placeholder="Select a value..."
          [showClearButton]="true"
          [dataSource]="options"
          (onValueChanged)="onDropDownBoxValueChanged()"
        >
            <dx-tree-view
              [dataSource]="options"
              dataStructure="plain"
              keyExpr="ID"
              displayExpr="name"
              parentIdExpr="categoryId"
              selectionMode="multiple"
              showCheckBoxesMode="normal"
              [selectNodesRecursive]="false"
              [selectByClick]="true"
              (onContentReady)="onTreeViewReady($event)"
              (onItemSelectionChanged)="onTreeViewSelectionChanged($event)"
            >
            </dx-tree-view>
        </dx-drop-down-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">DropDownBox with Select All</div>
      <div class="dx-field-value">
        <dx-drop-down-box
          [(value)]="treeBoxValue"
          [inputAttr]="{ 'aria-label': 'Owner' }"
          valueExpr="ID"
          displayExpr="name"
          placeholder="Select a value..."
          [showClearButton]="true"
          [dataSource]="options"
          (onValueChanged)="onDropDownBoxValueChanged()"
        >
            <dx-tree-view
              [dataSource]="options"
              dataStructure="plain"
              keyExpr="ID"
              displayExpr="name"
              parentIdExpr="categoryId"
              selectionMode="multiple"
              showCheckBoxesMode="selectAll"
              [selectNodesRecursive]="false"
              [selectByClick]="true"
              (onContentReady)="onTreeViewReady($event)"
              (onItemSelectionChanged)="onTreeViewSelectionChanged($event)"
            >
            </dx-tree-view>
        </dx-drop-down-box>
      </div>
    </div>
  </div>
</div>
